.body {
  height: 50vh;
}

.records {
  padding: 0;

  &__item {
    display: flex;

    &--short {
      border: 1px solid black;

      display: flex;
      align-items: center;
      justify-content: center;

      padding: 2px;
      margin: 2px;

      flex: 0 0 10rem;
    }

    &--long {
      border: 1px solid black;

      display: flex;
      align-items: center;
      justify-content: flex-start;

      padding: 2px 0 2px 2rem;
      margin: 2px;

      flex: 1;
    }
  }
}
